<!DOCTYPE html>
<html>

<head>
    <title>Short URL</title>
</head>

<body>

    <h2>Your Short URL</h2>

    <a href="/api/url/<%= shortCode %>">
        http://localhost:5000/api/url/<%= shortCode %>
         <!-- vishal -->
    </a>

</body>

</html>